.navbar-container
{
    background: hsl(210, 84%, 60%);
}

.navbar-title
{
    font-family: Sora;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
}

.navbar-links
{
    position: absolute;
    width: 1000px;
    height: 16px;
    left: 211px;
    top: 25px;
}

.navbar-link
{
    margin-left: 3%;
    text-decoration: none;
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    
    color: #FFFFFF;
}


.navbar-line
{
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    transform: rotate(-90deg);
}

.navbar-right
{
    position: absolute;
    right: 2%;
}

.language
{
    position: absolute;
    top: 10%;
    left: -20%;
}

.login
{
    text-decoration: none;
    font-family: Sora;
    font-style: normal;
    line-height: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: '0.5em';
}

.signup
{
    text-decoration: none;
    font-family: Sora;
    font-style: normal;
    line-height: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: '0.5em';
}
